/* regular version */
@font-face {
  font-family: "Helvetica";
  src: url("./font/Helvetica.ttf");
}

/* bold version */
@font-face {
  font-family: "Helvetica-bold";
  src: url("./font/Helvetica-Bold.ttf");
}

/* main containers */
html,
body,
button,
input {
  font-family: "Helvetica";
}

body {
  background-color: #eef0f8;
}

.container_sticky {
  position: sticky;
  top: 0px;
  z-index: 1;
  margin-top: 66px;
  margin-bottom: 6px;
  border-radius: 6px;
  background-color: #fff;
}

.container_table {
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0px 0px 30px #523f690d;
  border-radius: 6px;
  background-color: #fff;
}

.container__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.185);
  z-index: 3;
}

.container_modal {
  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 584px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ebedf3;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0px 30px #523f690d;
}

/* modal windows */
.modal_box-head {
  width: 532px;
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 532px;
  height: 46px;
  margin-top: 3px;
  margin-bottom: 16px;
  padding: 17px 16px;
  box-sizing: border-box;
  font-size: 13px;
  color: #3f4254;
  background: #f3f6f9;
  border-radius: 6px;
  border: none;
}

.modal__header {
  font-family: "Helvetica-Bold";
  font-size: 16px;
  color: #3f4254;
}

.email_input {
  position: relative;
}

.email_input input[type="email"] {
  padding-left: 51px;
}

.email__ico {
  position: absolute;
  left: 15px;
  top: 33px;
}

.modal_select {
  padding: 0px;
  padding-left: 16px;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 484px;
  background-position-y: 12px;
}

.modal__closeBtn {
  cursor: pointer;
}

.modal_box-btn {
  width: 532px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

/* tables */
.container_table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.table_thead th:nth-child(1),
.table_tbody td:nth-child(1) {
  padding-left: 26px;
}

.table_thead {
  text-align: left;
  font-family: "Helvetica-bold";
  font-size: 13px;
  text-transform: uppercase;
  color: #a4a4b5;
  background-color: #fff;
  border-radius: 6px;
}

.table_thead tr {
  height: 56px;
  transition: all 0.3s linear;
}

.table_tbody {
  color: #3f4254;
  background-color: #f4f5f8;
}

.table_tbody tr {
  width: 100%;
  height: 56px;
}

.table_tbody tr:hover {
  cursor: pointer;
  background-color: #eff0f4;
}

.table_tbody tr {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

/* btns */

.container_btn {
  width: 120px;
  height: 46px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 5px 8px #2e8ff029;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s linear;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline-color: #0e32574f;
  outline-style: solid;
  outline-width: 1px;
}

.btn_sticky {
  z-index: 2;
  position: fixed;
  top: 8px;
  right: 8px;
}

.btn__get {
  background-color: #2e8ff0;
}

.btn__del {
  background-color: #f44682;
}

/* classes for animation */
.btn_sticky__scroll {
  top: 11px;
  right: 20px;
}

.table_thead__sticky tr {
  height: 70px;
}

/* errors */
.btn__hide {
  display: none;
}

.btn__shows {
  margin: 0 auto;
}

.err__pope {
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg_txt__err {
  display: none;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 281px;
  height: 56px;
  font-size: 13px;
  color: #fff;
  background: #ef7da0;
  box-shadow: 0px 10px 15px #ef7da05c;
  border-radius: 6px;
}

.msg_txt__scs {
  display: none;
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 281px;
  height: 56px;
  font-size: 13px;
  color: #fff;
  background: #66bb6a;
  box-shadow: 0px 10px 15px #4caf505c;
  border-radius: 6px;
}
